/* css reset */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* end of css reset */

/* variables */
:root {
    --bg-color: #2C2C33;
    --text-color: #FFF;
    --accent-color: #364350;
}

/* end of variables */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
}

hr {
    margin: 1rem 0;
    border: 1px solid var(--accent-color);
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo-link {
    padding: 0.5rem;
    color: var(--text-color);
}

.disclosure__content {
    background-color: var(--accent-color);
    list-style: none;
    padding: 1rem;
    margin-top: 2rem;
    position: absolute;
    right: 2.5rem;
}

.disclosure__content::after {
    content: '';
    position: absolute;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-color: var(--accent-color);
    width: 2rem;
    height: 2rem;
    right: 0;
    top: -2rem;
}

.nav-li {
    padding: 0.5rem;
}

.disclosure__content__link {
    color: var(--text-color);
    display: block;
    text-decoration: none;
    transition: all 0.3s ease-out;
    text-decoration: var(--accent-color);
}

.disclosure__content__link:hover {
    text-decoration: underline 2px;
}

.disclosure__icon {
    transition: transform 0.3s ease-out;
}

.disclosure__button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 1ch;
    justify-content: space-between;
    padding: 0.25em 0.5em;
    width: 50px;

    &:focus-visible {
        outline: solid orange 3px;
        outline-offset: 3px;
    }

    &[aria-expanded="false"] {
        +.disclosure__content {
            display: none;
        }
    }

    &[aria-expanded="true"] {
        +.disclosure__content {
            display: block;
        }

        .disclosure__icon {
            transform: rotate(-180deg);
        }
    }
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    text-align: center;
}

.hero__image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
}

.fun-fact {
    font-size: 0.8rem;
    margin: 0.5rem 0;
}

.coffee-svg {
    display: inline;
    height: 0.8rem;
    width: 0.8rem;
}

.hero__heading {
    font-size: 1.5rem;
}

.hero__text {
    font-size: 1.1rem;
    font-weight: 400;
    max-width: 40ch;
}

.contact-btn {
    padding: 1rem;
}

.btn {
    background-color: var(--accent-color);
    border-radius: 10px;
    color: var(--text-color);
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    margin: 2rem 0;
    text-decoration: none;
    transition: background-color 0.3s ease-out;

    &:hover {
        background-color: #FFF;
        color: var(--accent-color);
    }

}

.skills__heading {
    margin: 1rem 0 2rem 0;
    text-decoration: underline 2px;
}

.skill__heading {
    text-decoration: underline 2px;
}

.skill__text {
    max-width: 45ch;
}

.skill__text:last-child {
    margin-bottom: 2rem;
}

.projects {
    position: relative;
}

.projects__heading {
    margin: 1rem 0 2rem 0;
    text-decoration: underline 2px;
}

.carousel {
    margin: auto;
    width: clamp(250px, 100%, 500px);
}

.carousel__project {
    margin-bottom: 1rem;
    transition: transform 0.4s ease-out;
}

.carousel__project img {
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-out;
    width: 100%;
}

.carousel__project img:is(:focus, :hover) {
    transform: scale(1.02);
}

.carousel .prev {
    background: none;
    border: none;
    left: 0;
    position: absolute;
    transition: all 0.3s ease-out;
}

.carousel .prev:is(:focus, :hover) {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(111%) contrast(101%);
}

.carousel .next {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    transition: all 0.3s ease-out;
}

.carousel .next:is(:focus, :hover) {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(111%) contrast(101%);
}

.carousel .dot {
    background-color: var(--accent-color);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin: 30px 2px 0 2px;
    transition: background-color 0.3s ease-out;
    width: 15px;

    &:hover {
        background-color: #FFF;
    }
}

.carousel .active {
    background-color: #FFF;
}

.projects-btn {
    padding: 1rem 2rem;
}

.contact {
    width: 100%;
}

.contact__heading {
    margin: 1rem 0 2rem 0;
    text-decoration: underline 2px;
}

.contact h3 {
    text-decoration: underline 2px;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input,
textarea {
    background-color: var(--accent-color);
    border: none;
    border-radius: 10px;
    color: #FFF;
    margin: 1rem;
    padding: 1rem;
    width: clamp(250px, 100%, 600px);
}

input::placeholder,
textarea::placeholder {
    color: var(--text-color);
}

textarea {
    height: 200px;
}

.send-btn {
    border: none;
    margin: 1rem 0 2rem 0;
    padding: 1rem clamp(3rem, 20%, 6rem);
    width: fit-content;
}

.socials {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.linkedin,
.github {
    display: inline;
    filter: invert(25%) sepia(12%) saturate(968%) hue-rotate(169deg) brightness(88%) contrast(89%);
    height: 100px;
    width: 100px;
}

footer {
    padding: 1rem;
    text-align: center;
}

footer h3 {
    margin: 0.5rem 0;
}

@media (hover: none) and (pointer: coarse) {
    .nav-li {
        padding: 0.5rem;
        text-decoration: underline 2px;
    }
}

@media (min-width: 500px) {
    .disclosure__content {
        padding: 2rem;
    }

    .nav-li {
        padding: 1rem;
    }
}

@media (min-width: 700px) {
    nav {
        padding: 2rem;
        font-size: 1.2rem;
    }

    .disclosure__button {
        display: none;
    }

    .disclosure__content {
        background-color: transparent;
        display: flex !important;
        margin-top: 0;
        padding: 0;
    }

    .disclosure__content::after {
        display: none;
    }

    .nav-li {
        padding: 0.5rem;
        margin-right: 2rem;
    }

    .nav-li:last-child {
        margin-right: 0;
    }
}

@media (min-width: 900px) {
    .hero {
        display: grid;
        grid-template-areas: 'left right';
        width: 100%;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .left-col {
        grid-area: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero__image {
        width: 300px;
        height: 300px;
    }

    .fun-fact {
        font-size: 1rem;
    }

    .right-col {
        grid-area: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        text-align: start;
    }

    .hero__img .hero__heading {
        font-size: 2rem;
    }

    .hero__text {
        font-size: 1.3rem;
        max-width: 45ch;
    }

    .contact-btn {
        text-align: center;
        width: 14rem;
    }

    .skills {
        width: 100%;
    }

    .skill {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 2rem 0;
    }
}